<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-grid>
      <ion-row [hidden]="oculto">
        <ion-col size-md="1" size-xs="0"></ion-col>
        <ion-col size-md="10" size-xs="12">
          <ion-card >
            <ion-card-header>
              <ion-card-title>Añadir</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="formAdd">
                <ion-row>
                  <ion-col size-md="8" size-xs="12">
                    <ion-item>
                      <ion-label position="floating">Nombre curso:</ion-label>
                      <ion-input placeholder="Curso" formControlName="nombre" ></ion-input>
                      <ion-note *ngIf="this.nombreAsignatura.valid==false && this.nombreAsignatura.dirty" slot="error">Este nombre es invalido</ion-note>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="2" size-xs="6">
                    <ion-item>
                      <ion-label position="floating">Nota:</ion-label>
                      <ion-input placeholder="Nota" type="number" formControlName="puntuacion"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="2" size-xs="6">
                    <ion-fab  horizontal="end" vertical="center">
                      <ion-fab-button [disabled]="!formAdd.valid" (click)="addClase()">
                        <ion-icon name="add"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </ion-col>
                </ion-row>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-md="1" size-xs="0"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="1" size-xs="0">
          
        </ion-col>
        <ion-col size-sm="10" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Lista cursos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list [inset]="true">
                <clase-comp *ngFor="let item of listaClases; let i=index" [indice]="i"></clase-comp>
                
              </ion-list>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
        <ion-col size-sm="1" size-xs="0">
          
        </ion-col>
      </ion-row>
    
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" id="btnAdd">
    <ion-fab-button (click)="ocultarODesocultar()">

      <ion-icon *ngIf="oculto==true" name="add"></ion-icon>
      <ion-icon *ngIf="oculto==false" name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
